version: 2.1
workflows:
  testing:
    jobs:
      - runner
jobs:
  runner:
    machine: true
    resource_class: medium
    steps:
    #  - checkout
    #  - run: mvn clean test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/reports/
            find . -type f -regex ".*/target/surefire-reports/*.*" -exec cp {} ~/test-results/reports/ \;
            ls -l .*/target/surefire-reports/*.*
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/reports




