version: 2.0
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: "circleci/maven:3.8.2"
    steps:
      - checkout
      - run: mvn clean build
  test:
    working_directory: ~/repo
    docker: 
        - image: "circleci/maven:3.8.2"
    steps:
        - checkout
        - run: mvn test

