version: 2.1
workflows:
  testing:
    jobs:
      - runner
jobs:
  runner:
    machine: true
    resource_class: medium
    steps:
      - checkout
      - run: mvn clean test
      - run:
          name: Save test results
          Command:
            mkdir -p ~/test-results/testng/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/testng/ \;
          when: always
      - store_test_results:
          path:  ~/test-results
      - store_artifacts:
          path: ~/test-results/testng



